<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `header-component`
     * Header component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderComponent extends Polymer.Element {
      static get is() { return 'header-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-component'
          }
        };
      }
    }

    window.customElements.define(HeaderComponent.is, HeaderComponent);
  </script>
</dom-module>
