<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-component">
  <template>
    <style>
      :host {
        display: inline-block;
      }

      body {
        margin: 0px;
        padding-top: 5px;
      }

      .Section {
        display: inline-block;;
        width: 100%;
        border: 3px solid gray;
        border-radius: 1rem;
        background: #FFF;
      }

      .Nav ul {
        list-style: none;
      }

      .Nav li {
        display: inline-block;
      }

      .Nav li a {
        padding: 2px 7px 2px 7px;
        text-decoration: none;
      }

      #h1 {
        color: black;
        text-align: center;
      }

      #img3 {
        margin-left: 400px;
      }


    </style>

    <body>

      <section class="Section">
          <nav class="Nav">
            <ul>
              <li><img src="../images/menu-luism.png" id="img1"></li>
              <li><strong><h1 id="h1">INICIO</h1></strong></li>
              <li><img src="../images/power-luism.png" id="img3"></li>
            </ul>
          </nav>
      </section>  

    </body>




    <!--<img src="../images/menu.png" id="img1">
    <strong><h1 id="h1">INICIO</h1></strong>

    <input type="text" id="txt" placeholder="Buscar...">

    <img src="../images/power.png" id="img2">-->

  </template>

  <script>
    /**
     * `header-component`
     * Header component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderComponent extends Polymer.Element {
      static get is() { return 'header-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: ''
          }
        };
      }
    }

    window.customElements.define(HeaderComponent.is, HeaderComponent);
  </script>
</dom-module>
